body{
    background-color: rgb(36, 36, 36);
    color: white;
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows:auto auto;
}

#mainTitle{
    grid-column-start: 2;
    grid-row: 1;
}

#gameWindow{
    width: 800px;
    height: 608px;
    grid-column-start: 2;
    grid-row-start:2;
    position: relative;
}

.background{
    position: absolute;
    z-index: 0;
    background-color: #222;

}


.character{
    position: absolute;
    z-index: 100;
}

.Foreground{
    position: absolute; 
    z-index: 1000;
}

#tilemap{
    /* ok */
}

#mainCharacter{
    top: 300px;
    left: 360px;
    transition: all 1s ease-in-out;
}

#object1{
    top: 320px;
    left: 559px;
    width: 16px;    
    height: 32px;
}



.speech-bubble {
	background: #ffffff;
	border-radius: 60px;
    color: black;
    padding: 5px;
    font-size: 12px;
    width: 250px;
    opacity: 6;
}

#dialogBar{
    height: 64px;
    bottom: 20px;
}

#browBar{
    position: absolute;
    height: 32px;
    background-color: #442c1c;
    bottom: -25px;
    width: 800px;
}

#object3{
    top: 320px;
    left: 225px;
}

#counterSpeech{
    right: 40px; 
    top: 0px;
}


#counterCharacter{
    top: 0px;
    right: 0px;
}

#mainCharacterSpeech{
    left: 40px;
    top: 10px;
}

#setMainDialog{
    position: relative;
    width: 800px;
    height: 64px;
}